body {
    font-family: Arial, sans-serif;
    background-color: #f0eaf5;
  }
  
  .navbar {
    background-color: #d24d91;
    border: none;
  }
  
  .navbar-brand,
  .nav-link {
    color: #2c1919;
    font-weight: bold;
  }
  
  .navbar-brand:hover,
  .nav-link:hover {
    color: #ffc0cb;
  }
  
  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  .btn-primary {
    background-color: #d24d91;
    border-color: #d24d91;
  }
  
  .btn-primary:hover {
    background-color: #d24d91;
    opacity: 0.8;
  }
  
  .btn-secondary {
    background-color: #ffc0cb;
    border-color: #ffc0cb;
  }
  
  .btn-secondary:hover {
    background-color: #ffc0cb;
    opacity: 0.8;
  }
  
  /* Add styles for the loading animation */
  #loading {
    display: none;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #d24d91;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  